@using Topic.WebUI.Dtos.CategoryDtos
@model List<ResultCategoryDto>
@{
    ViewData["Title"] = "Kategoriler";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
<div class="table-responsive">


<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>Açıklaması</th>
        <th>Resim </th>
        <th>Durum</th>
        <th>İşlemler</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>@item.CategoryId</th>
            <td>@item.CategoryName</td>
            <td>@item.Description</td>
            <td><img src="@item.ImageUrl" /></td>
            <td>@item.Status</td>
            <td>
                <a asp-action="DeleteCategory" asp-route-id="@item.CategoryId" class="btn btn-outline-danger">Sil</a>
                <a asp-action="UpdateCategory" asp-route-id="@item.CategoryId" class="btn btn-outline-danger">Güncelle</a>
                
               
             </td>
        </tr>
        
    }

</table>

<a asp-action="CreateCategory" class="btn btn-outline-primary">Yeni Kategori Oluştur</a>
</div>